= javascript_include_tag "developer_tools"
%div#dev-tools
  %h2= @game.name.capitalize
  %br
  - if current_user.admin? and !Rails.env.production?
    %button.btn.btn-danger#stop
      = link_to "Clear data", clear_data_game_path(@game), method: :delete, data: { confirm: "Are you sure?" }
  .row
    .span12
      %h2='Game Versions'
      %ul
        - @game.implementations.each do |version|
          %li
            = version.name
            %br
            -if version.client != nil
              = 'App Token '  
              %span#appTokenText 
                = version.client.app_token
              %button.btn.btn-primary#tokenClipboardButton
                copy
              %br
              = 'App Secret ' 
              %span#appSecretText
                = version.client.app_secret
              %button.btn.btn-primary#secretClipboardButton
                copy
              %br

      = render partial: 'implementations/add', locals: {game: @game}
  .row
    .span12
      = render partial: 'games/log_debugger', locals: {game: @game}